In [1]:
import tensorflow as tf
from tensorflow import keras
import numpy as np
import pandas as pd
import os
from sklearn.model_selection import train_test_split

In [2]:
from utils import *

In [3]:
df = pd.read_csv('../harnasieBytehack/tokenized.csv', encoding = 'Latin-1', names=('target','id','date','flag','username','tweet'))
print(df.head())

C:\Users\Kamil\anaconda3\envs\blue\lib\site-packages\IPython\core\interactiveshell.py:3173: DtypeWarning: Columns (1,2) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

     target          id                          date      flag  \
NaN  target          id                          date      flag
0.0       0  1467810369  Mon Apr 06 22:19:45 PDT 2009  NO_QUERY
1.0       0  1467810672  Mon Apr 06 22:19:49 PDT 2009  NO_QUERY
2.0       0  1467810917  Mon Apr 06 22:19:53 PDT 2009  NO_QUERY
3.0       0  1467811184  Mon Apr 06 22:19:57 PDT 2009  NO_QUERY

            username                                              tweet
NaN         username                                              tweet
0.0  _TheSpecialOne_  ['switchfoot', 'http', 'twitpic', 'com', 'yzl'...
1.0    scotthamilton  ['upset', 'updat', 'facebook', 'text', 'might'...
2.0         mattycus  ['kenichan', 'i', 'dive', 'mani', 'time', 'bal...
3.0          ElleCTF  ['whole', 'bodi', 'feel', 'itchi', 'like', 'fi...

In [4]:
X = df["tweet"]
y = df["target"]

In [9]:
y.unique() # 0 - negative 4 - positive

array([0, 4], dtype=int64)

In [6]:
df.head()

,target,id,date,flag,username,tweet
NaN,target,id,date,flag,username,tweet
0.0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"['switchfoot', 'http', 'twitpic', 'com', 'yzl'..."
1.0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,"['upset', 'updat', 'facebook', 'text', 'might'..."
2.0,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,"['kenichan', 'i', 'dive', 'mani', 'time', 'bal..."
3.0,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,"['whole', 'bodi', 'feel', 'itchi', 'like', 'fi..."